<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><strong>  <h1>Willkommen</h1> </strong></h1>
  </div>
  <div class="panel-body">
    <p>Hallo Zusammen,
      <p>ich habs doch noch vor der Weindegu geschafft, unsere erste Homepage zu erstellen! Die Seite ist zwar noch im Alphastatium, doch ihr könnt schon fleissig Weine erfassen. Folgendes ist möglich:
     <ul>
      <li>Weine erfassen und mit verschiedenen Feldern (z.B Traubensorte, Jahrgang usw.) zu beschreiben</li>
      <li>Bilder zum Wein anhängen</li>
      <li>Weine bewerten und kommentieren</li>
    </ul>
    <p> Ich werde zusätzliche funktionen einbauen (z.B. Suche, persönliche Rangliste) und auch das Layout verbessern. Zwischenzeitlich könnt ihr fleissig Weine erfassen und bewerten :)
      
      <p> Mit den Links oben rechts kommt ihr zu den Funktionen. Übrigens: die Seite ist optimiert für Smartphones, könnt alles mobile machen (auch Fotos schiessen und uploaden) 
    
      <p>Viel Spass!
    <p>Liebe Grüsse,
   <p> Mirco
  </div>

  




