<h4 class="list-group-item-heading"><%= item.username %></h4>
<div class="list-group-item-text" style="padding-left: 20px; padding-top: 5px;">
  <table>
    <tr>
      <td style="width:70px">Name:</td>
      <td><%= "#{item.person.firstname}  #{item.person.lastname}"%></td>
    </tr>
  </table>
</div>