
function getAvailableShops(){
    $(".shopselectors").html("");
    $.getJSON('/info/availableShops', function(data) {
        $.each(data, function (index, value) {
            $(".shopselectors").append('<option value="'+value[0].value+'">'+value[0].text+'</option>');
        });
    });
  


}

function wineform_addShop(){
    wineform_mapValue();
    var newElement=$('#tabclone').clone();
    $(newElement).removeAttr('id');
    $('.deleteButton',newElement).click(function () {wineform_removeShop(this) });
    $('#shoptable .row:last').before(newElement);
     reassignIds();
}

function wineform_removeShop(element){
    wineform_mapValue();
    $(element).parents('.row').remove();
    reassignIds();
}

function wineform_mapValue(){
    $( "#shoptable .row input" ).each(function( index ) {
        $( this).attr('value',$( this).val())
    });
}

function wineform_initEvents(){

    $('#addshopbutton').unbind('click');
    $('#addshopbutton').click(function () {wineform_addShop();});
    $('.deleteButton').click(function () {wineform_removeShop(this) });


}



function reassignIds(){
    $( '#shoptable .row' ).each(function( index ) {
        $( this).html($( this).html().replace(/attributes\]\[[0-9]*\]\[shop/g, "attributes]["+index+"][shop" ));
        $( this).html($( this).html().replace(/attributes\]\[[0-9]*\]\[price/g, "attributes]["+index+"][price" ));
        $( this).html($( this).html().replace(/attributes\]\[[0-9]*\]\[id/g, "attributes]["+index+"][id" ));
    });
    wineform_initEvents();
}





