
function getAvailableShops(){
    $(".shopselectors").each(function() {
        $(this).attr('selectedOpt',$(this).find(":selected").attr('value'));
            $(this).find('option').remove(); 
    });

    $.getJSON('/info/availableShops', function(data) {
        $.each(data, function (index, value) {
            $(".shopselectors").append('<option value="'+value[0].value+'">'+value[0].text+'</option>');
        });
    $(".shopselectors").each(function() {
          var $t=$(this).attr('selectedOpt');
         $(this).find('option').filter(function () { return $(this).attr('value') == $t }).attr('selected','selected')

    });
    });


  


}

    function wineform_addShop(){
    wineform_mapValue();
    var newElement=$('#tabclone').clone();
    $(newElement).removeAttr('id');
    $('.deleteButton',newElement).click(function () {wineform_removeShop(this) });
    $('#shoptable .row:last').before(newElement);
     reassignIds();
}

function wineform_removeShop(element){
    wineform_mapValue();
    $(element).parents('.row').remove();
    reassignIds();
}

function wineform_mapValue(){
    $( "#shoptable .row input" ).each(function( index ) {
        $( this).attr('value',$( this).val())
    });
}

function wineform_initEvents(){

    $('#addshopbutton').unbind('click');
    $('#addshopbutton').click(function () {wineform_addShop();});
    $('.deleteButton').unbind('click');
    $('.deleteButton').click(function () {wineform_removeShop(this) });
    $('#addnewshopbutton').unbind('click');
    $("#addnewshopbutton").click(function () {addNewShop("/shops/new");});


}


function block(doblock){

    if(doblock){
        $.blockUI({message: "Bitte warten...",
            css: {          border: 'none',
                padding: '15px',
                backgroundColor: '#000',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                opacity: .5,
                color: '#fff'
            } });
    }
    else{
        $.unblockUI();
    }
}


function reassignIds(){
    $( '#shoptable .row' ).each(function( index ) {
        $( this).html($( this).html().replace(/attributes\]\[[0-9]*\]\[shop/g, "attributes]["+index+"][shop" ));
        $( this).html($( this).html().replace(/attributes\]\[[0-9]*\]\[price/g, "attributes]["+index+"][price" ));
        $( this).html($( this).html().replace(/attributes\]\[[0-9]*\]\[id/g, "attributes]["+index+"][id" ));
    });
    wineform_initEvents();
}


function createShopResponse(responseText, statusText, xhr, $form){
    block(false);
    if ($(responseText).find('#theList').length != 0) {
        getAvailableShops();




    } else {
        $('#myNewShop').modal('show');
    }
    $('#myNewShopBody').html($(responseText).filter('#theMainDiv').html());
    $('#myNewShopBody #MyBackButton').removeAttr('href');
    $("#myNewShopBody #MyBackButton").on("click", function () {
        $('#myNewShop').modal('hide')
    });
    // $('#MySubmitButton').replaceWith('<a class="btn btn-primary"  id="MySubmitButton" rel="nofollow">Ok</a>');
    $("#myNewShopBody #MySubmitButton").on("click", function () {
                $('#myNewShop').ajaxForm({
                    success: createShopResponse  // post-submit callback
                });
            }
    );


}

function addNewShop(theURL){
    $.ajax({
        url: theURL,
        type: "GET",
        dataType: "html",
        success: function (data) {
            $('#myNewShopBody').html($(data).filter('#theMainDiv').html());
            $('#myNewShopBody #MyBackButton').removeAttr('href');
            $("#myNewShopBody #MyBackButton").on("click", function () {
                $('#myNewShop').modal('hide')
            });
            $('#myNewShopBody #MySubmitButton').removeAttr('href');
            $('#myNewShopBody #MyForm').ajaxForm({
                success: createShopResponse  // post-submit callback
            });
            $("#myNewShopBody #MySubmitButton").on("click", function () {
                        $('#myNewShop').modal('hide');
                        block(true);

                    }
            );
            $('#myNewShop').modal('show');

        },
        error: function (xhr, status) {
            alert("Sorry, there was a problem!");
        },
        complete: function (xhr, status) {
        }
    })



}




