
function getAvailableShops(){
    $.getJSON('/info/availableShops', function(data) {
        $.each(data, function (index, value) {
            $(".shopselectors").append('<option value="'+value[0].value+'">'+value[0].text+'</option>');
        });
    });
}


function reassignIds(){

    $( "#shoptable tr" ).each(function( index ) {
        $( this).attr('value',$( this).val())
        $( this).html($( this).html().replace(/attributes_.*_shop/g, "attributes_"+index+"_shop" ));
        $( this).html($( this).html().replace(/attributes\]\[.*\]\[shop/g, "attributes]["+index+"][shop" ));
        $( this).html($( this).html().replace(/attributes_.*_price/g, "attributes_"+index+"_price" ));
        $( this).html($( this).html().replace(/attributes\]\[.*\]\[price/g, "attributes]["+index+"][price" ));
        $('.deleteButton').click(function () {
            $( "#shoptable tr input" ).each(function( index ) {
                $( this).attr('value',$( this).val())
            });
            $(this).parents('tr').remove();

            reassignIds();
        });
        $('#addshopbutton').click(function () {
            $( "#shoptable tr input" ).each(function( index ) {
                $( this).attr('value',$( this).val())
            });
            $('#shoptable tr:last').before($('#tabclone tr:first').clone());
            reassignIds();
        });
    });

}



$(document).ready(function () {
    getAvailableShops();



    $('#addshopbutton').unbind('click');
    $('#addshopbutton').click(function () {
        $( "#shoptable tr input" ).each(function( index ) {
            $( this).attr('value',$( this).val())
        });
        $('#shoptable tr:last').before($('#tabclone tr:first').clone());

        reassignIds();
    });
    $('.deleteButton').click(function () {
        $( "#shoptable tr input" ).each(function( index ) {
            $( this).attr('value',$( this).val())
        });
        $(this).parents('tr').remove();
        reassignIds();
    });


    $('#grapes').tokenfield({
        autocomplete: {
            source: <%= @grape_names.to_json.html_safe %>,
            delay: 100
            },
            showAutocompleteOnFocus: true
            })

            $('#foods').tokenfield({
            autocomplete: {
                source: <%= @food_names.to_json.html_safe %>,
                delay: 100
            },
            showAutocompleteOnFocus: true
        })
    });


