@import "bootstrap";

#myContextMenu {
    position: fixed;
    display:none;
}



.panel-default > .panel-heading {
  background-color: #d2d2d2;
}



select{
@extend .form-control;}

input[type="text"]{
  @extend .form-control;}

.listitem a {
  color: #000; }
  a:visited {
    color: #666; }
  a:hover {
    color: #000;
    background-color: #000; }
