@import "bootstrap";

.form-control, select {
   height: auto; 
}

#myContextMenu {
  position: fixed;
  display:none;
}
select{
  @extend .form-control;}





.listitem a {
  color: #000; }
a:hover {
  color: #000;
  background-color: #000; }

.btn-danger a:visited {
  color: #ffffff; }


.panel-default > .panel-heading {
  background-color: #d2d2d2;
}




