<div id="wine_state_code_wrapper">
  <% parent_region ||= params[:parent_region] %>
  <% country = Carmen::Country.coded(parent_region) %>
  <% if country.nil? %>
  <% elsif country.subregions? %>
      <div class="form-group">
        <label for="wine-country_code" class="col-sm-2 control-label">Region</label>

        <div class="col-sm-10">
          <% if static_show %>
              <p class="form-control-static"><%= country.subregions.coded(@wine.subregion_code).name unless country.subregions.coded(@wine.subregion_code).nil?  %> </p>
          <% else %>
              <%= subregion_select(:wine, :subregion_code, parent_region, :class => 'form-control', "placeholder" => "region") %>
          <% end %>
        </div>
      </div>


  <% else %>
  <% end %>

</div>