<h4 class="list-group-item-heading"><%= item.name %></h4>
<div class="list-group-item-text" style="padding-left: 20px; padding-top: 5px;">
  <table>
    <tr>
      <td style="width:70px">Jahr:</td>
      <td><%= item.year.nil? ? ' ' : item.year %></td>
    </tr>
    <tr>
      <td>Land:</td>
      <td><%= item.country_code.nil? ? '   ' :  Carmen::Country.coded(item.country_code).name%> </td>
    </tr>
  </table>
</div>


