
<div class="panel panel-default">
 <div class="panel-heading">
   <h1 class="panel-title"><strong>Neuer Wein erstellen</strong></h1></div>
  <div class="panel-body">
<%= render 'form',:extrabuttons => "#{link_to 'Zurück', wine_path(@wine) , :class => 'btn btn-default',:id => "MyBackButton"}" %>
</div>
</div>
</div>

