<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><strong>Bilder editieren</strong></h1></div>
  <div class="panel-body">
    <%= render 'form' ,:extrabuttons => "#{link_to 'Löschen', @shop, method: :delete, data: { confirm: 'Sicher?' }, 'class' => "btn btn-danger",:id => "MyDeleteButton"} #{link_to 'Zurück', images_path , :class => 'btn btn-default', :id => "MyBackButton"}" %>
  </div>
</div>

